* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
.container {
	display: flex;
	align-items: center;
	width: 90%;
}
.navbar {
	padding: 15px;
	display: flex;
	align-items: center;
	background-color: antiquewhite;
}
.navbar__links {
	display: flex;
}
.navbar__links li,
.navbar button {
	margin: 0 5px;
}
.counter {
	padding: 0.625rem 0.75rem;
	border: 0;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	background-color: black;
	color: #ffff;
}
.nav-notification {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	height: 1.25rem;
	width: 1.25rem;
	border: none;
	color: #ffff;
}
.count {
	background-color: cadetblue;
}
.add {
	background-color: seagreen;
}
.minus {
	background-color: red;
}
